# DS-SF-30 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [2]:
import os

import numpy as np

import pandas as pd

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [3]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-02-ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [4]:
df.head(5)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

> ## Question 3.  How many samples (i.e., rows) are in this dataset?

In [5]:
df.shape

(153, 6)

In [6]:
#answer = 153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [7]:
df.columns

Index([u'Ozone', u'Solar.R', u'Wind', u'Temp', u'Month', u'Day'], dtype='object')

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [9]:
df.head (2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [10]:
df.tail (2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [29]:
df.iat [48, 1]

37.0

In [19]:
df [47:48]

    Ozone  Solar.R  Wind  Temp  Month  Day
47   37.0    284.0  20.7    72      6   17

In [12]:
df.head (48) # check

    Ozone  Solar.R  Wind  Temp  Month  Day
0    41.0    190.0   7.4    67      5    1
1    36.0    118.0   8.0    72      5    2
2    12.0    149.0  12.6    74      5    3
3    18.0    313.0  11.5    62      5    4
4     NaN      NaN  14.3    56      5    5
..    ...      ...   ...   ...    ...  ...
43   23.0    148.0   8.0    82      6   13
44    NaN    332.0  13.8    80      6   14
45    NaN    322.0  11.5    79      6   15
46   21.0    191.0  14.9    77      6   16
47   37.0    284.0  20.7    72      6   17

[48 rows x 6 columns]

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [13]:
df.isnull ().sum()

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [14]:
df.mean (1)

0      51.900000
1      40.166667
2      42.600000
3      68.916667
4      20.075000
         ...
148    55.816667
149    54.240000
150    55.216667
151    45.166667
152    60.250000
dtype: float64

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [36]:

df[(df.ozone > 31) & (df.temp > 90)][ ['ozone']] [['temp']]

AttributeError: 'DataFrame' object has no attribute 'ozone'

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [37]:
df2 = df[(df.ozone > 31) & (df.temp > 90)][ ['ozone']] [['temp']]

df2.mean (2)

AttributeError: 'DataFrame' object has no attribute 'ozone'

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [16]:
df[df.temps]

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [17]:
# TODO